@import "base";
@import "button";
@import "type";
@import "dark";
@import "icons";
@import "video";

.header-right p {
  margin-bottom: 3px;
}

.header-right a{
  color:inherit;
  font-weight:500;
}

@media screen and (max-width: 768px) {
  .header-contianer div{
    text-align: center;
  }

  .header-right p {
    text-align: center;
  }

  .header-left {
    margin-top: 0px;
  }
}

.profile-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat, no-repeat;
  -moz-box-shadow: inset 0 0 20px #636161;
  -webkit-box-shadow: inset 0 0 20px #636161;
  box-shadow: inset 0 0 20px #636161;
}

.into-text-1 {
  margin-top: 30px;
}

@media only screen and (max-width : 992px) {
  .into-text-1 {
    margin-top: 20px;
  }
}

.list-container {
  h3 {
    margin-bottom: 0;
  }
}

.language-container {
  h3 {
    margin-bottom: 15px;
  }
}

.layout {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;

  .details {
    text-align: left;

    p {
      margin-bottom: 3px;
      font-size: 1.6rem;
      text-align: inherit;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }

    @media screen and (max-width: 768px) {
      text-align: center!important;

      p {
        text-align: center!important;
      }
    }

    a {
      color: inherit;
      font-style: italic;
      font-weight: 300;
    }

    .fa {
      font-size: 2rem;
    }

    .link {
      font-size: 1.5rem;
    }

    h4 {
      margin-bottom: 0.1rem;
      font-weight: 500;

      @media print {
        margin-bottom: 0.2rem;
      }

      a {
        font-weight: 500;
      }
    }
  }
}

.layout-right {
  flex-direction: row-reverse;
}

.layout-right, .layout-top-right {
  .details {
    text-align: right;
  }
}

.layout-left, .layout-right {
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.layout-top-middle, .layout-top, .layout-top-right {
  flex-direction: column;

  .details, .content {
    width: 100%;
  }
}

.layout-top-middle {
  .details {
    text-align: center;
  }
}

.footer-container {
  margin-top:100px;
}

.footer-container p {
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.footer-container a {
  color: inherit;
  font-style: italic;
  font-weight: 300;
}

.page-content {
  padding: 0;
}

.contact a {
  line-height: 50px;
  margin-left: 30px;
  color: #BBBBBB;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.contact a:hover {
  color: #4C4C4C;
}

p.quote {
  font-size: 1.4rem;
  font-style: italic;
  padding: 1rem 2.5rem;
  text-align: center;

  @media print {
    text-align: left;
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
}

.skillset {
  .item {
      margin-bottom: 15px;
      overflow: hidden;
  }
  .level-title {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 12px;
  }
  .level-bar {
      height: 30px;
      background:lighten(#f5f5f5,10%) ;
  }
  .level-bar-inner {
      height: 30px;
      background: lighten(#A15277, 15%);
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .skillset .level-title {
      display: inline-block;
      float: left;
      width: 30%;
      margin-bottom: 0;
  }

  .skillset .level-bar {
      display: inline-block;
      width: 70%;
      float: right;
      position: relative;
      top: 1px;
  }

}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}
