{% assign skills = site.skills %}
{% if skills %}
<section class="container list-container">

  <h3 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h3>

  <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 skillset">

    {% for skill in skills.toolset %}
    <div class="item">

      <h4 class="level-title">{{ skill.name }}</h4>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}